{% extends 'layout.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="float-md-right">
            <a href="{{ url_for('Dashboard.create_team') }}" class="btn btn-primary">Create Team</a>
        </div>
    </div>
    {% for team in teams %}
    <div class="row mt-3">
        <a href="{{ url_for('Team.team_manage', public_id=team.public_id) }}">
        <div class="card-deck">
            {% for team in teams %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ team.name }}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
